In [260]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
# %matplotlib inline # Makes matplots right under the cell instead of a different window, for older models
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10) # Sets default figure size for matplots

df1 = pd.read_csv("rentfaster.csv")
df1.head()

,rentfaster_id,city,province,address,latitude,longitude,lease_term,type,price,beds,baths,sq_feet,link,furnishing,availability_date,smoking,cats,dogs
0,468622,Airdrie,Alberta,69 Gateway Dr NE,51.305962,-114.012515,Long Term,Townhouse,2495.0,2 Beds,2.5,1403,/ab/airdrie/rentals/townhouse/2-bedrooms/pet-f...,Unfurnished,Immediate,Non-Smoking,True,True
1,468622,Airdrie,Alberta,69 Gateway Dr NE,51.305962,-114.012515,Long Term,Townhouse,2695.0,3 Beds,2.5,1496,/ab/airdrie/rentals/townhouse/2-bedrooms/pet-f...,Unfurnished,Immediate,Non-Smoking,True,True
2,468622,Airdrie,Alberta,69 Gateway Dr NE,51.305962,-114.012515,Long Term,Townhouse,2295.0,2 Beds,2.5,1180,/ab/airdrie/rentals/townhouse/2-bedrooms/pet-f...,Unfurnished,Immediate,Non-Smoking,True,True
3,468622,Airdrie,Alberta,69 Gateway Dr NE,51.305962,-114.012515,Long Term,Townhouse,2095.0,2 Beds,2.5,1403,/ab/airdrie/rentals/townhouse/2-bedrooms/pet-f...,Unfurnished,November 18,Non-Smoking,True,True
4,468622,Airdrie,Alberta,69 Gateway Dr NE,51.305962,-114.012515,Long Term,Townhouse,2495.0,2 Beds,2.5,1403,/ab/airdrie/rentals/townhouse/2-bedrooms/pet-f...,Unfurnished,Immediate,Non-Smoking,True,True

In [262]:
df1 = df1.drop(["rentfaster_id", "address", "link", "availability_date"], axis=1)
df1

,city,province,latitude,longitude,lease_term,type,price,beds,baths,sq_feet,furnishing,smoking,cats,dogs
0,Airdrie,Alberta,51.305962,-114.012515,Long Term,Townhouse,2495.0,2 Beds,2.5,1403,Unfurnished,Non-Smoking,True,True
1,Airdrie,Alberta,51.305962,-114.012515,Long Term,Townhouse,2695.0,3 Beds,2.5,1496,Unfurnished,Non-Smoking,True,True
2,Airdrie,Alberta,51.305962,-114.012515,Long Term,Townhouse,2295.0,2 Beds,2.5,1180,Unfurnished,Non-Smoking,True,True
3,Airdrie,Alberta,51.305962,-114.012515,Long Term,Townhouse,2095.0,2 Beds,2.5,1403,Unfurnished,Non-Smoking,True,True
4,Airdrie,Alberta,51.305962,-114.012515,Long Term,Townhouse,2495.0,2 Beds,2.5,1403,Unfurnished,Non-Smoking,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25766,Yorkton,Saskatchewan,51.203024,-102.484782,Long Term,Apartment,920.0,Studio,1,400,Unfurnished,Non-Smoking,True,True
25767,Yorkton,Saskatchewan,51.203024,-102.484782,Long Term,Apartment,1450.0,3 Beds,1,810,Unfurnished,Non-Smoking,True,True
25768,Yorkton,Saskatchewan,51.202667,-102.485765,Long Term,Apartment,1125.0,1 Bed,1,520,Unfurnished,Non-Smoking,True,True
25769,Yorkton,Saskatchewan,51.202667,-102.485765,Long Term,Apartment,920.0,Studio,1,400,Unfurnished,Non-Smoking,True,True
25770,Yorkton,Saskatchewan,51.202667,-102.485765,Long Term,Apartment,1285.0,2 Beds,1,700,Unfurnished,Non-Smoking,True,True

In [264]:
df1.groupby("lease_term")["lease_term"].agg("count")

lease_term
12 months        95
6 months          2
Long Term     23778
Negotiable     1498
Short Term      350
months            2
Name: lease_term, dtype: int64

In [266]:
df1 = df1.drop(["lease_term"], axis=1)
df1

,city,province,latitude,longitude,type,price,beds,baths,sq_feet,furnishing,smoking,cats,dogs
0,Airdrie,Alberta,51.305962,-114.012515,Townhouse,2495.0,2 Beds,2.5,1403,Unfurnished,Non-Smoking,True,True
1,Airdrie,Alberta,51.305962,-114.012515,Townhouse,2695.0,3 Beds,2.5,1496,Unfurnished,Non-Smoking,True,True
2,Airdrie,Alberta,51.305962,-114.012515,Townhouse,2295.0,2 Beds,2.5,1180,Unfurnished,Non-Smoking,True,True
3,Airdrie,Alberta,51.305962,-114.012515,Townhouse,2095.0,2 Beds,2.5,1403,Unfurnished,Non-Smoking,True,True
4,Airdrie,Alberta,51.305962,-114.012515,Townhouse,2495.0,2 Beds,2.5,1403,Unfurnished,Non-Smoking,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25766,Yorkton,Saskatchewan,51.203024,-102.484782,Apartment,920.0,Studio,1,400,Unfurnished,Non-Smoking,True,True
25767,Yorkton,Saskatchewan,51.203024,-102.484782,Apartment,1450.0,3 Beds,1,810,Unfurnished,Non-Smoking,True,True
25768,Yorkton,Saskatchewan,51.202667,-102.485765,Apartment,1125.0,1 Bed,1,520,Unfurnished,Non-Smoking,True,True
25769,Yorkton,Saskatchewan,51.202667,-102.485765,Apartment,920.0,Studio,1,400,Unfurnished,Non-Smoking,True,True
25770,Yorkton,Saskatchewan,51.202667,-102.485765,Apartment,1285.0,2 Beds,1,700,Unfurnished,Non-Smoking,True,True

In [268]:
df2 = df1.drop(["latitude", "longitude"], axis="columns")
df2

,city,province,type,price,beds,baths,sq_feet,furnishing,smoking,cats,dogs
0,Airdrie,Alberta,Townhouse,2495.0,2 Beds,2.5,1403,Unfurnished,Non-Smoking,True,True
1,Airdrie,Alberta,Townhouse,2695.0,3 Beds,2.5,1496,Unfurnished,Non-Smoking,True,True
2,Airdrie,Alberta,Townhouse,2295.0,2 Beds,2.5,1180,Unfurnished,Non-Smoking,True,True
3,Airdrie,Alberta,Townhouse,2095.0,2 Beds,2.5,1403,Unfurnished,Non-Smoking,True,True
4,Airdrie,Alberta,Townhouse,2495.0,2 Beds,2.5,1403,Unfurnished,Non-Smoking,True,True
...,...,...,...,...,...,...,...,...,...,...,...
25766,Yorkton,Saskatchewan,Apartment,920.0,Studio,1,400,Unfurnished,Non-Smoking,True,True
25767,Yorkton,Saskatchewan,Apartment,1450.0,3 Beds,1,810,Unfurnished,Non-Smoking,True,True
25768,Yorkton,Saskatchewan,Apartment,1125.0,1 Bed,1,520,Unfurnished,Non-Smoking,True,True
25769,Yorkton,Saskatchewan,Apartment,920.0,Studio,1,400,Unfurnished,Non-Smoking,True,True
25770,Yorkton,Saskatchewan,Apartment,1285.0,2 Beds,1,700,Unfurnished,Non-Smoking,True,True

In [270]:
df2.isnull().sum()

city             0
province         0
type             0
price            0
beds           132
baths          134
sq_feet       4112
furnishing       0
smoking       2702
cats           173
dogs           173
dtype: int64

In [272]:
df2 = df2.dropna(subset="beds")
df2 = df2.dropna(subset="baths")
df2 = df2.dropna(subset="sq_feet")

df2["cats"] = df2["cats"].fillna("False")
df2["dogs"] = df2["dogs"].fillna("False")
df2["smoking"] = df2["smoking"].fillna("Non-Smoking")

df2.isnull().sum()
df2.head()

,city,province,type,price,beds,baths,sq_feet,furnishing,smoking,cats,dogs
0,Airdrie,Alberta,Townhouse,2495.0,2 Beds,2.5,1403,Unfurnished,Non-Smoking,True,True
1,Airdrie,Alberta,Townhouse,2695.0,3 Beds,2.5,1496,Unfurnished,Non-Smoking,True,True
2,Airdrie,Alberta,Townhouse,2295.0,2 Beds,2.5,1180,Unfurnished,Non-Smoking,True,True
3,Airdrie,Alberta,Townhouse,2095.0,2 Beds,2.5,1403,Unfurnished,Non-Smoking,True,True
4,Airdrie,Alberta,Townhouse,2495.0,2 Beds,2.5,1403,Unfurnished,Non-Smoking,True,True

In [274]:
df2["furnishing"] = df2["furnishing"].replace("Unfurnished, Negotiable", "Unfurnished")
df2 = df2[df2["furnishing"] != "Negotiable"]
print(df2.furnishing.unique())

['Unfurnished' 'Furnished']

In [288]:
df2["furnishingb"] = df2["furnishing"].apply(lambda x: 1 if x == "Furnished" else 0)
df2["smokingb"] = df2["smoking"].apply(lambda x: 0 if x == "Non-Smoking" else 1)
df2["catsb"] = df2["furnishing"].apply(lambda x: 1 if x else 0)
df2["dogsb"] = df2["furnishing"].apply(lambda x: 1 if x else 0)
df2.drop(["furnishing", "smoking", "cats", "dogs"], axis=1)
df2 = df2[df2["beds"]!="none Beds"]

df3 = df2.copy()
# df3 = df3[df3["beds"] != "Studio"]
# df3["beds"] = df3["beds"].apply(lambda x: int(x.split()[0]))
print(df3.shape)

df3["sq_feet"] = pd.to_numeric(df3["sq_feet"], errors="coerce")
df2 = df3 [ df3.sq_feet/df3.beds >= 300 ]

(18661, 15)

In [290]:
location_stats = df2.groupby("city")["city"].agg("count").sort_values(ascending=False)
location_stats_less_than_10 = location_stats[location_stats < 10]
df2["city"] = df2["city"].apply(lambda x: "other" if x in location_stats_less_than_10 else x)
df4 = df2.drop(["furnishing", "smoking", "cats", "dogs"], axis="columns")
types_to_remove = ["Loft", "Vacation Home", "Acreage", "Parking Spot", "Mobile"]
df5 = df4[ ~df3["type"].isin(types_to_remove)]
df5

,city,province,type,price,beds,baths,sq_feet,furnishingb,smokingb,catsb,dogsb
0,Airdrie,Alberta,Townhouse,2495.0,2,2.5,1403.0,0,0,1,1
1,Airdrie,Alberta,Townhouse,2695.0,3,2.5,1496.0,0,0,1,1
2,Airdrie,Alberta,Townhouse,2295.0,2,2.5,1180.0,0,0,1,1
3,Airdrie,Alberta,Townhouse,2095.0,2,2.5,1403.0,0,0,1,1
4,Airdrie,Alberta,Townhouse,2495.0,2,2.5,1403.0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
25761,Yorkton,Saskatchewan,Apartment,1130.0,1,1,558.0,0,0,1,1
25763,Yorkton,Saskatchewan,Apartment,1025.0,1,1,476.0,0,0,1,1
25765,Yorkton,Saskatchewan,Apartment,1260.0,2,1,743.0,0,0,1,1
25768,Yorkton,Saskatchewan,Apartment,1125.0,1,1,520.0,0,0,1,1
25770,Yorkton,Saskatchewan,Apartment,1285.0,2,1,700.0,0,0,1,1

In [292]:
def remove_outliers(df):
    df_out = pd.DataFrame()
    for key, subdf in df.groupby("city"):
        mean = np.mean(subdf.price)
        stddev = np.std(subdf.price)
        smaller_subdf = subdf[ (subdf["price"]>= mean - stddev) & (subdf["price"]<= mean + stddev) ]
        df_out = pd.concat([df_out, smaller_subdf], ignore_index=True)
    return df_out

In [294]:
print(df5.shape)
# df6 = remove_outliers(df5)
print(df6.shape)
df6 = df6[ df6["baths"] != "none"]
print(df6.shape)
df6.baths.unique()

(18632, 11)
(15164, 11)
(15164, 11)

array(['1', '2', '2.5', '1.5', '3', '3.5', '4'], dtype=object)

In [296]:
# Time to turn the categorical data into a bunch of columns containing ones and zeros

dummy = pd.get_dummies(df6["city"], dtype="int")
dummy2 = pd.get_dummies(df6["type"], dtype="int")
dummy3 = dummy2.drop("Room For Rent", axis=1)
df7 = pd.concat([df6,dummy.drop("other",axis=1),dummy3],axis=1)
df7.head()

,city,province,type,price,beds,baths,sq_feet,furnishingb,smokingb,catsb,...,Winnipeg,Woodstock,Yorkton,Apartment,Basement,Condo Unit,Duplex,House,Main Floor,Townhouse
0,Abbotsford,British Columbia,Apartment,1450.0,1,1,685.0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
1,Abbotsford,British Columbia,Apartment,1675.0,2,1,900.0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
2,Abbotsford,British Columbia,Apartment,1600.0,1,1,538.0,0,1,1,...,0,0,0,1,0,0,0,0,0,0
3,Abbotsford,British Columbia,Apartment,1600.0,1,1,538.0,0,1,1,...,0,0,0,1,0,0,0,0,0,0
4,Abbotsford,British Columbia,Apartment,1675.0,1,1,538.0,0,1,1,...,0,0,0,1,0,0,0,0,0,0

In [298]:
df8 = df7.drop(["city", "province","type"], axis=1)
df8.head()

,price,beds,baths,sq_feet,furnishingb,smokingb,catsb,dogsb,Abbotsford,Airdrie,...,Winnipeg,Woodstock,Yorkton,Apartment,Basement,Condo Unit,Duplex,House,Main Floor,Townhouse
0,1450.0,1,1,685.0,0,0,1,1,1,0,...,0,0,0,1,0,0,0,0,0,0
1,1675.0,2,1,900.0,0,0,1,1,1,0,...,0,0,0,1,0,0,0,0,0,0
2,1600.0,1,1,538.0,0,1,1,1,1,0,...,0,0,0,1,0,0,0,0,0,0
3,1600.0,1,1,538.0,0,1,1,1,1,0,...,0,0,0,1,0,0,0,0,0,0
4,1675.0,1,1,538.0,0,1,1,1,1,0,...,0,0,0,1,0,0,0,0,0,0

In [308]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor

X = df8.drop(["price"],axis=1)
y = df8["price"]

#Use random_state=60 (best linear regression seed
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=60)
model = RandomForestRegressor(n_estimators=100, random_state=60)
model.fit(X_train, y_train)
model.score(X_test, y_test)



# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LinearRegression

# X = df8.drop(["price"], axis=1)
# y = df8["price"]

# max = 0
# maxi = 0

# for i in range(100):
#     X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=i)

#     linRegModel = LinearRegression()
#     linRegModel.fit(X_train, y_train)
    
#     score = linRegModel.score(X_test, y_test)
    
#     if score > max:
#         max = score
#         maxi = i

# print(max)
# print(maxi)

0.8376238216769288

In [306]:
# # Testing out the best Machine Learning Model
# from sklearn.model_selection import train_test_split
# from sklearn.linear_model import LinearRegression, Ridge, Lasso
# from sklearn.tree import DecisionTreeRegressor
# from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
# from sklearn.neighbors import KNeighborsRegressor
# from sklearn.svm import SVR
# from sklearn.metrics import r2_score, mean_squared_error
# import pandas as pd

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=60)

# models = {
#     "Linear Regression": LinearRegression(),
#     "Ridge Regression": Ridge(alpha=1.0),
#     "Lasso Regression": Lasso(alpha=0.1),
#     "Decision Tree": DecisionTreeRegressor(max_depth=5),
#     "Random Forest": RandomForestRegressor(n_estimators=100),
#     "Gradient Boosting": GradientBoostingRegressor(),
#     "KNN Regressor": KNeighborsRegressor(n_neighbors=5),
#     "Support Vector Regressor": SVR()
# }

# results = []

# for name, model in models.items():
#     model.fit(X_train, y_train)
#     preds = model.predict(X_test)
    
#     r2 = r2_score(y_test, preds)
#     mse = mean_squared_error(y_test, preds)
    
#     results.append({
#         "Model": name,
#         "R² Score": r2,
#         "MSE": mse
#     })

# # Convert to DataFrame and sort
# results_df = pd.DataFrame(results).sort_values(by="R² Score", ascending=False)
# print(results_df)

In [477]:
# Predicting the Price of the next data

def predict_price(location, type, beds, baths, sq_feet, furnishingb, smokingb, catsb, dogsb):
    location_index = np.where(X.columns == location)[0][0]
    type_index = np.where(X.columns == type)[0][0]
    x = np.zeros(len(X.columns))
    x[0] = beds
    x[1] = baths
    x[2] = sq_feet
    x[3] = furnishingb
    x[4] = smokingb
    x[5] = catsb
    x[6] = dogsb
    x[location_index] = 1
    x[type_index] = 1


    return model.predict([x])[0]
x = 2
print(predict_price("Waterloo", "Apartment", x, 2, 1000*x, 0, 0, 1, 1))

2276.95

C:\Users\alams\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

In [489]:
import pickle
with open("Canada Rent Prediction Model.pickle", "wb") as file:
    pickle.dump(model, file)

In [487]:
import json

columns = {
    'data_columns': [col.lower() for col in X.columns]
}

with open("columns.json", "w") as f:
    f.write(json.dumps(columns))